/**
 * The CSS for the admin functionality.
 */

/*
* GENERAL
*/

.display-block {
	display: block;
}

.no-margin-top {
	margin-top: 0 !important;
}

/*
* META BOX
*/

#jamp_meta_box .meta-field {
	margin-top: 15px;
}

#jamp_meta_box .meta-section,
#jamp_meta_box .meta-target-type,
#jamp_meta_box .meta-target {
	display: none;
}

#jamp_meta_box select {
	width: 100%;
}

/*
* ADMIN BAR
*/

#wp-admin-bar-jamp .ab-icon:before {
	content: "\f157";
	top: 3px;
}

#wp-admin-bar-jamp .ab-sub-wrapper .ab-item {
	color: #ffffff;
}

#wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item {
	height: 100%;
}

.jamp-admin-bar-section-title {
	display: inline-block;
	font-size: 15px !important;
	font-weight: 700 !important;
}

.jamp-admin-bar-action:before {
	font-family: "dashicons";
	font-size: 20px;
	line-height: normal;
	vertical-align: text-bottom;
}

.jamp-admin-bar-action {
	display: inline !important;
	padding: 0 !important;
}

.jamp-admin-bar-action--create:before {
	content: "\f132";
	position: relative;
	top: 5px;
}

.jamp-admin-bar-action--create {
	padding: 0 5px 0 0 !important;
}

.jamp-admin-bar-action--info:before {
	content: "\f348";
}

.jamp-admin-bar-action--info {
	color: #7d7d7d !important;
}

.jamp-admin-bar-action--info:hover {
	color: #00a0d2 !important;
}

.jamp-admin-bar-action--edit:before {
	content: "\f119";
}

.jamp-admin-bar-action--edit {
	color: #7d7d7d !important;
}

.jamp-admin-bar-action--edit:hover {
	color: #00a0d2 !important;
}

.jamp-admin-bar-action--trash:before {
	content: "\f182";
}

.jamp-admin-bar-action--trash {
	color: #7d7d7d !important;
}

.jamp-admin-bar-action--trash:hover {
	color: #a00 !important;
}

.jamp-admin-bar-note:before {
	content: "";
	position: absolute !important;
	top: 0;
	right: 0;
	border-width: 0 10px 10px 0;
	border-style: solid;
	border-color: #c4c267  #32373c;
}

.jamp-admin-bar-note {
	position: relative !important;
	box-sizing: border-box !important;
	min-width: 300px;
	max-width: 500px;
	padding: 0 5px 5px 5px !important;
	margin-bottom: 5px !important;
	background-color: #fffebb;
	color: #32373c;
}

.jamp-admin-bar-note img {
	display: block;
	max-width: 100%;
	height: auto;
}

.jamp-admin-bar-note--red-background {
	background-color: #ffbfbf;
}

.jamp-admin-bar-note__title {
	font-weight: 700 !important;
}

.jamp-admin-bar-note__actions {
	position: absolute !important;
	top: 5px;
	right: 10px;
}

.jamp-admin-bar-note__content * {
	white-space: normal !important;
	line-height: 1.6 !important;
}

.jamp-admin-bar-note__content a {
	display: inline !important;
	margin: 0 !important;
	padding: 0 !important;

	color: inherit !important;
	text-decoration: underline !important;
}

.jamp-admin-bar-note__content a:hover {
	color: #00a0d2 !important;
}

.jamp-admin-bar-note__no-notes-notice {
	display: block;
	font-style: italic !important;
}

.jamp-admin-bar-note__no-notes-notice--hidden {
	display: none;
}

/*
* TABLE COLUMNS
*/

.jamp_note.column-jamp_note:not(.hidden) {
    overflow: visible !important;
}

.jamp-column-note {
	margin-bottom: 10px;
}

.jamp-column-note--red-background {
	background-color: #ffbfbf;
}

.jamp-column-note img {
	display: block;
	max-width: 100%;
	height: auto;
}

.jamp-column-note__title {
	font-weight: 600;
}

.jamp-column-note__container {
	padding-left: 5px !important;
	border-left: 2px solid #dddddd;
}

.jamp-column-note__content {
	margin-bottom: 0 !important;
}

.jamp-column-note__note-actions {
	color: #dddddd;
}

.jamp-column-note__note-trash-action {
	color: #a00;
}

.jamp-column-note__note-trash-action:hover {
	color: #dc3232;
}

.jamp-column-note__no-notes-notice {
	display: block;
	margin-bottom: 10px;
}

.jamp-column-note__no-notes-notice--hidden {
	display: none;
}

.jamp-column-note__orphan-note-notice {
	font-weight: 700;
}

/*
* TRASH DIALOG
*/

.jamp-trash-dialog--hidden {
	display: none;
}

/*
* NOTE TOOLTIP
*/

/* Tooltip container */
.jamp-note-info-tooltip {
	position: relative !important;
	display: inline-block !important;
}

/* Tooltip content */
.jamp-note-info-tooltip__content {
	display: none !important;
	width: 150px !important;
	background-color: #555 !important;
	color: #ffffff !important;
	text-align: center !important;
	padding: 5px 5px 10px 5px !important;
	border-radius: 5px !important;
	white-space: normal;

	position: absolute !important;
	z-index: 10 !important;
	box-sizing: border-box !important;
}

.jamp-note-info-tooltip__content--top {
	bottom: 100% !important;
	left: 50% !important;
	margin-left: -75px !important;
}

.jamp-note-info-tooltip__content--left {
	top: -20px !important;
	bottom: auto !important;
	right: 125% !important;
}

.jamp-note-info-tooltip__label {
	font-weight: 700 !important;
	line-height: 1 !important;
	display: block;
	margin-bottom: 5px !important;
}

.jamp-note-info-tooltip__field {
	line-height: 1 !important;
	display: block;
}

.jamp-note-info-tooltip__field:not(:last-child) {
	margin-bottom: 10px !important;
}

/* Tooltip arrow */
.jamp-note-info-tooltip__content:after {
	content: "";
	position: absolute !important;
	top: 100% !important;
	left: 50% !important;
	margin-left: -5px !important;
	border-width: 5px !important;
	border-style: solid !important;
	border-color: #555 transparent transparent transparent !important;
}

.jamp-note-info-tooltip__content.jamp-note-info-tooltip__content--left:after {
	top: 32px !important;
	left: 100% !important;
}

/* Show the tooltip */
.jamp-note-info-tooltip:hover .jamp-note-info-tooltip__content {
	display: block !important;
}
