/* ================= */
/* ==== GENERAL ==== */
/* ================= */

.display-block {
	display: block;
}

.no-margin-top {
	margin-top: 0 !important;
}

/* ==== META BOX ==== */

#jamp_meta_box .meta-field {
	margin-top: 15px;
}

#jamp_meta_box .meta-section,
#jamp_meta_box .meta-target-type,
#jamp_meta_box .meta-target {
	display: none;
}

/* =================== */
/* ==== ADMIN BAR ==== */
/* =================== */

/* START debug styles */
/*#wp-admin-bar-jamp .ab-sub-wrapper {
	display: block !important;
}*/
/* STOP debug styles */

#wp-admin-bar-jamp .ab-icon:before {
	content: "\f157";
	top: 3px;
}

#wp-admin-bar-jamp .ab-sub-wrapper .ab-item {
	color: #FFFFFF;
}

#wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item {
	height: 100%;
}

.jamp-admin-bar-section-title {
	display: inline-block;
	font-size: 15px !important;
	font-weight: 700 !important;
}

.jamp-admin-bar-action:before {
	font-family: "dashicons";
	font-size: 20px;
	line-height: normal;
	vertical-align: text-bottom;
}

.jamp-admin-bar-action {
	display: inline !important;
	padding: 0 !important;
}

.jamp-admin-bar-action--create:before {
	content: "\f132";
	position: relative;
	top: 5px;
}

.jamp-admin-bar-action--create {
	padding: 0 5px 0 0 !important;
}

.jamp-admin-bar-action--edit:before {
	content: "\f119";
}

.jamp-admin-bar-action--edit {
	color: #7d7d7d !important;
}

.jamp-admin-bar-action--edit:hover {
	color: #00a0d2 !important;
}

.jamp-admin-bar-action--trash:before {
	content: "\f182";
}

.jamp-admin-bar-action--trash {
	color: #7d7d7d !important;
}

.jamp-admin-bar-action--trash:hover {
	color: #a00 !important;
}

.jamp-admin-bar-note:before {
	content: "";
	position: absolute !important;
	top: 0;
	right: 0;
	border-width: 0 10px 10px 0;
	border-style: solid;
	border-color: #c4c267  #32373c;
}

.jamp-admin-bar-note {
	position: relative !important;
	min-width: 300px;
	max-width: 500px;
	padding: 0 5px 5px 5px !important;
	margin-bottom: 5px !important;
	background-color: #fffebb;
	color: #32373c;
}

.jamp-admin-bar-note img {
	display: block;
	max-width: 100%;
	height: auto;
}

.jamp-admin-bar-note--red-background {
	background-color: #ffbfbf;
}

.jamp-admin-bar-note__title {
	font-weight: 700 !important;
}

.jamp-admin-bar-note__actions {
	position: absolute !important;
	top: 5px;
	right: 10px;
}

.jamp-admin-bar-note__content * {
	white-space: normal !important;
	line-height: 1.6 !important;
}

.jamp-admin-bar-note__content a {
	display: inline !important;
	margin: 0 !important;
	padding: 0 !important;
	
	color: inherit !important;
	text-decoration: underline !important;
}

.jamp-admin-bar-note__content a:hover {
	color: #00a0d2 !important;
}

.jamp-admin-bar-note__no-notes-notice {
	display: block;
	font-style: italic !important;
}

.jamp-admin-bar-note__no-notes-notice--hidden {
	display: none;
}

/* ====================== */
/* ==== TABLE COLUMN ==== */
/* ====================== */

.jamp-column-note {
	margin-bottom: 10px;
}

.jamp-column-note--red-background {
	background-color: #ffbfbf;
}

.jamp-column-note img {
	display: block;
	max-width: 100%;
	height: auto;
}

.jamp-column-note__title {
	font-weight: 600;
}

.jamp-column-note__container {
	padding-left: 5px !important;
	border-left: 2px solid #dddddd;
}

.jamp-column-note__content {
	margin-bottom: 0 !important;
}

.jamp-column-note__note-actions {
	color: #dddddd;
}

.jamp-column-note__note-trash-action {
	color: #a00;
}

.jamp-column-note__note-trash-action:hover {
	color: #dc3232;
}

.jamp-column-note__no-notes-notice {
	display: block;
	margin-bottom: 10px;
}

.jamp-column-note__no-notes-notice--hidden {
	display: none;
}

/* ====================== */
/* ==== TRASH DIALOG ==== */
/* ====================== */

.jamp-trash-dialog--hidden {
	display: none;
}
