/* ==== GENERAL ==== */

.display-block {
	display: block;
}

.no-margin-top {
	margin-top: 0 !important;
}

/* ==== META BOX ==== */

#jamp_meta_box .meta-field {
	margin-top: 15px;
}

#jamp_meta_box .meta-section,
#jamp_meta_box .meta-target-type,
#jamp_meta_box .meta-target {
	display: none;
}

/* ==== ADMIN BAR ==== */

/* Just for debug! */
/*#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper {
	display: block;
}*/

#wpadminbar #wp-admin-bar-jamp .ab-icon:before {
    content: "\f157";
    top: 3px;
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper .ab-item {
	color: #FFFFFF;
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item {
	height: 100%;
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .area-title {
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .create-link {
	display: inline-block;
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .create-link a,
#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .edit-link a,
#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .trash-link a {
	display: inline;
	padding: 0;
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .edit-link a {
	color: #00a0d2;
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .trash-link a {
	color: #a00;
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .edit-link a:hover,
#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .trash-link a:hover {
	color: #32373c;
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .note-actions {
	position: absolute;
	top: 5px;
	right: 10px;
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .create-link a::before,
#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .edit-link a::before,
#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .trash-link a::before {
	font-family: "dashicons";
	font-size: 20px;
	line-height: normal;
	vertical-align: text-bottom;
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .create-link a::before {
	content: "\f132";
	position: relative;
	top: 5px;
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .edit-link a::before {
	content: "\f119";
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .trash-link a::before {	
	content: "\f182";
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .note {
	position: relative;
	min-width: 300px;
	max-width: 500px;
	padding: 0 5px 5px 5px;
	margin-bottom: 5px;
	background-color: #fffebb;
	color: #32373c;
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .note::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 10px 10px 0;
    border-style: solid;
    border-color: #c4c267  #32373c;
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .note-title {
	font-weight: 700;
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .note-content {
	white-space: normal;
	line-height: 1.6;
}

#wpadminbar #wp-admin-bar-jamp .ab-sub-wrapper #wp-admin-bar-jamp-content div.ab-item .notes-not-found {
	display: block;
	font-style: italic;
}

/* ==== TABLE COLUMN ==== */

.jamp-column-note {
	margin-bottom: 10px;
}

.jamp-column-note__tile {
	font-weight: 600;
}

.jamp-column-note__container {
	padding-left: 5px !important;
	border-left: 2px solid #dddddd;
}

.jamp-column-note__content  {
	margin-bottom: 0 !important;
}

.jamp-column-note__note-actions {
	color: #dddddd;
}

.jamp-column-note__note-trash-action {
	color: #a00;
}

.jamp-column-note__note-trash-action:hover {
	color: #dc3232;
}

.jamp-column-note__no-notes-notice {
	display: block;
	margin-bottom: 10px;
}